firmware/.idea
firmware/.idea/*

simulator/.idea
firmware/.idea/*

firmware/cmake-build-debug
firmware/cmake-build-debug/*

firmware/CMakeLists.txt

firmware/.vscode/*
firmware/.vscode

build/

firmware/build.sh

